
/* add diagram */

.btn{
    margin: 10px;
    background-color: #21d4fd;
    color:white;
    float: right;

}
#LeaveProject{
    display:none;
}
#addMember{

display:none;
}

#plus-icon {
    background: #21d4fd;
    height: 30px;
    position: relative;
    width: 5px;
    left: 79px;
    top: 27px;
    border-radius: 10px;
    

  }
#plus-icon:after {
    background: #21d4fd;
    content: "";
    height: 5px;
    left: -12px;
    position: absolute;
    top: 12px;
    width: 30px;
    border-radius: 10px;

  }
  .new-diagram-icon{
    float: left;    
    white-space: nowrap;
    height: 170px;
    width: 190px;
    border: 1px solid #e5e5e5;
    box-shadow:0 0 6px 1px  #cccccc;
    box-sizing: border-box;
    text-align: center;
    padding:10px 10px 5px 10px;
    margin: 50px 10px 100px 50px;
    font-weight: bold; 
    color:#21d4fd;
    font-size: 20px;
    
    
    }
   
    
   
    .new-diagram-icon:hover{
        background-color:#f2f2f2;
        cursor: hand;
    
    }
    
    .diagram{
        font-weight: bold;
        float: left;    
        height: 170px;
        width: 190px;
        border: 1px solid #e5e5e5;
        box-shadow:0 0 6px 1px  #cccccc;
        box-sizing: border-box;
        text-align: center;
        padding: 60px 10px;
        margin: 50px 0 0 40px;
        white-space: pre-wrap;
    
        
        
        }
        
        .diagram>div{
            box-sizing: border-box;
            position: relative;
            color:#21d4fd;
            font-size: 27px;
            cursor: hand;
        }
        
        .diagram:hover{
            background-color:#f2f2f2;
            
        
        }
      

        





/* modal style */
.AddMemModal{
    width: 320px;
    height: 400px;
    background: whitesmoke;
    color: #21d4fd;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    display:none;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    border:none;
    border-radius:5px; 
    outline: none;
    font-size: 16px;

}

/* h1{
    position: relative;
    top: -10px;
    text-align: center;
    font-size: 24px;
    padding: 0;
}  */


/* button {
    position: fixed;
   top:355px;
   left:250px;
    background-color:#21d4fd;
    color: white;
    border: none;
    cursor: hand;
    width: 60px;
    height: 30px;
    opacity: 0.9;
    border-radius: 20px;
font-size: 14px;
z-index: 2;
} */
.AddMemModal>.members-input>.email-addMem{
    border: none;
    width: 250px;
    position: relative;
    top:40px;
    float: left;
    border-bottom: 1px solid #21d4fd;
    background:transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
   color: #21d4fd;
   
    
}
/* #21d4fd */
.diagram>h1{
    box-sizing: border-box;
    position: relative;
    color:#21d4fd;
    font-size: 27px;
    cursor: hand;
    top:0.3em;
}
#addMemberInput-icon{
    float: right;
    margin:3px;
    font-size: 12px;
 
    
}


    

  
   
.wrap-login100 {
    height: 400px;}
    
    .container-login100-form-btn{
        position: relative;
        top:20px;
    }
    .login100-form-title{
        position: relative;
        font-weight: 10px;
        top:-30px;
        color:#21d4fd;
    }

    .btn-primary{
        background-color:#21d4fd;
    }
   

/*end of add member modal*/




