
#signoutbtn{
    position: fixed;
    margin:10px; 
    background-color: #21d4fd;
    color:white;
    float: right;
    font-size: 15px;
    left: 90%;
    top:10px;

}

#plus-icon {
    background: #21d4fd;
    height: 30px;
    position: relative;
    width: 5px;
    left: 79px;
    top: 27px;
    border-radius: 10px;
    

  }
  #plus-icon:after {
    background: #21d4fd;
    content: "";
    height: 5px;
    left: -12px;
    position: absolute;
    top: 12px;
    width: 30px;
    border-radius: 10px;

  }

.new-project-icon{
    float: left;    
    white-space: nowrap;
    height: 170px;
    width: 190px;
    border: 1px solid #e5e5e5;
    box-shadow:0 0 6px 1px  #cccccc;
    box-sizing: border-box;
    text-align: center;
    padding:10px 10px 5px 10px;
    margin: 50px 10px 100px 50px;
    font-weight: bold; 
    color:#21d4fd;
    font-size: 20px;
    
    
    }
   
    
   
    .new-project-icon:hover{
        background-color:#f2f2f2;
        cursor: hand;
    
    }
    a:hover{
        text-decoration: none;
    
    }
    
    .project{
        font-weight: bold;
        float: left;    
        height: 170px;
        width: 190px;
        border: 1px solid #e5e5e5;
        box-shadow:0 0 6px 1px  #cccccc;
        box-sizing: border-box;
        text-align: center;
        padding: 60px 10px;
        margin: 50px 0 0 40px;
        white-space: pre-wrap;
    
        
        
        }
        
        .project>h1{
            box-sizing: border-box;
            position: relative;
            color:#21d4fd;
            font-size: 27px;
            cursor: hand;
            top:0.3em;
        }
        
        .project:hover{
            background-color:#f2f2f2;
        
    
        }

        .wrap-login100 {
height: 400px;}

.container-login100-form-btn{
    position: relative;
    top:20px;
}
.login100-form-title{
    position: relative;
    font-weight: 10px;
    top:-30px;
    color:#21d4fd;
}






  
  
  
  
  
  
  
